body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 100vh;
}

body, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

.hero, .footer {
    background-color: #1F2937;
    padding: 16px;
}

.hero-container {
    margin: auto;
    width: 75%;
}

.hero-navbar {
    display: flex;
    justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

.hero-secondary-text, a, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main {
    display: flex;
    gap: 48px;
    margin: 48px 0;
}

.hero-main-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-evenly;
}

.hero-main-content, .hero-image {
    flex: 1 1 50%;
    min-height: 200px;
}


.hero-main-text {
    font-size: 48px;
}

.hero-main-text, .information-header-text {
    font-weight: bolder;
}

.hero-main-text, .header-logo-text, button, .hero-image {
    color: #F9FAF8;
}

button {
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 48px;
    width: fit-content;
}

button, .call-to-action {
    background-color: #3882F6;
}

.hero-image {
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.information {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-evenly;
    padding: 64px;
}

.information-header-text, .quote-text {
    color: #1F2937;
    font-size: 36px;
}

.card-list {
    display: flex;
    gap: 64px;
}

.card {
    max-width: 200px;
    text-align: center;
}

.square {
    border: 5px solid #3882F6;
    border-radius: 15px;
    height: 200px;
    margin-bottom: 8px;
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    padding: 64px;   
}

.quote-text {
    font-style: italic;
    font-weight: lighter;
}

.quote-container {
    align-items: end;
    display: flex;
    flex-direction: column; 
    margin: auto;
    width: 50%;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
}